@import url('https://fonts.googleapis.com/css2?family=Sen&family=Sofia+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 86vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #03152e;
  color: white;
}

h2 {
  width: 100%;
  display: flex;
  align-items: self-start;
  margin-top: 40px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.primeiro-container {
  width: 575px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
}

.primeiro-container h2 {
  font-weight: 300;
  font-family: 'Sen-Regular', sans-serif;
  font-size: 30px;
}

.primeiro-container p {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  letter-spacing: 0.3px;
  font-size: 18px;
  text-align: justify;
  color: #ffffffcc;
  font-family: 'Sofia Sans', sans-serif;
}

.classificacao-imc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background: #6a5f784a;
  border-radius: 15px;
}

.classificacao-imc h3 {
  width: 100%;
  font-size: 30px;
  margin-bottom: 40px;
  padding: 0 110px;
  font-family: 'Sen-Regular', 'Sofia Sans', sans-serif;
}

.classificacao-imc h3 span{
  margin-left: 60px;
}

.classificacao-imc div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.classificacao-imc div p {
  display: flex;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 10px;
  letter-spacing: 1.4px;
  font-size: 17px;
  text-align: justify;
}

.classificacao-imc div a {
  display: flex;
  width: 140px;
  justify-content: flex-start;
  letter-spacing: 0.4px;
  font-size: 17px;
  text-align: justify;
  color: #ffffff;
  font-family: 'Sen-Regular', 'Sofia Sans', sans-serif;
}

.classificacao-texto {
  display: flex;
  flex-direction: column;
}

.classificacao-texto div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 110px;
}

.segundo-container {
  display: flex;
  margin-left: 50px;
}

.div-calculadora-imc {
  width: 330px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.div-calculadora-imc h3 {
  padding-left: 10px;
  padding-top: 2px;
  color: #ffffff70;
  letter-spacing: 0.6px;
}

.calculadora {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.segundo-container span {
  padding: 25px;
  font-size: 30px;
  font-family: 'Sen-Regular', 'Sofia Sans', sans-serif;
}

.segundo-container .resultado {
  width: 90%;
  height: 317px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 1px #636363;
  border-radius: 15px;
}

.resultado .imc-resultado {
  padding: 25px;
  font-size: 25px;
  font-family: 'Sen-Regular', 'Sofia Sans', sans-serif;
}

p {
  display: flex;
  justify-content: center;
  letter-spacing: 2.4px;
  font-size: 12px;
  text-align: justify;
  color: #ffffff59;
}

.divAltura, .divPeso {
  width: 100%;
  height: 45px;
  display: flex;
  background: #37465b7d;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Sen-Regular', 'Sofia Sans', sans-serif;
}

.divCalc {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: 150px;
  height: 35px;
  margin-left: 20px;
  padding-bottom: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: 'Sen-Regular', 'Sofia Sans', sans-serif;
  font-size: 25px;
  background: transparent;
}

button {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6f00ff;
  color: white;
}

.underline {
  text-decoration: underline;
  color: #636363;
}

@media (max-width: 500px) {
  body, input, button {
    font-size: 15px;
  }
}

.social-media {
  margin-left: 20px;
}

.social-media div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #6f00ff;
  font-size: 35px;
  text-decoration: none;
  transition: .5s ease;
}

.social-media svg {
  width: 25px;
  height: 25px;
  color: #03152e;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: #6f00ff;
  font-size: 20px;
  font-family: 'Sen-Regular', 'Sofia Sans', sans-serif;
}

@media screen and (max-width:1020px){
  body {
    height: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .segundo-container {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .segundo-container .div-calculadora-imc {
    margin-top: 100px;
  }

  .primeiro-container {
    width: auto;
    margin-right: 0;
  }

  .primeiro-container h2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }

  .primeiro-container p {
    width: 300px;
  }

  .classificacao-imc {
    width: 300px;
  }

  .classificacao-imc h3 {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .classificacao-imc h3 span {
    margin-left: 0;
    margin-right: 35px;
  }

  .classificacao-imc div {
    width: 300px;
    padding: 0 10px;
  }

  .classificacao-imc div p{
    justify-content: flex-start;
  }

  .classificacao-imc div a {
    width: 145px;
    margin-right: 15px;
  }

  .footer {
    position: relative;
    flex-direction: column-reverse;
    margin-top: 60px;
  }

  .social-media {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
